@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Umbraco.Web.Models;
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
                /**/

                DynamicPublishedContent main = Umbraco.ContentAtRoot( ).First( );
                List<IPublishedContent>
                menus = new List<IPublishedContent>
                    ( );
                List<IPublishedContent>
                    menuItems = main.Children<IPublishedContent>
                        ( ).ToList( );
                MainPage mainPage = menuItems.First( ).Parent as MainPage;
                menus.Add( mainPage );
                menus.AddRange( menuItems );

                Contact contact = mainPage.Children<Contact>
                    ( ).First( );
                ContactDT contactsDT = contact.Main.Current as ContactDT;
}
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="footer-heading mb-4">About Us</h2>
                        <p>@contactsDT.Description</p>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h2 class="footer-heading mb-4">Features</h2>
                        <ul class="list-unstyled">
                            @foreach( IPublishedContent item in menuItems )
                            {
                                if( item is Contact )
                                {
                                    ContactDT contactDT = ( item as Contact ).Main.Current as ContactDT;
                                    <li><a href="@item.Url">@contactDT.MenuTitle</a></li>
                                }
                                else if( item is Projects )
                                {
                                    ProjectsDT projectsDT = ( item as Projects ).Main.Current as ProjectsDT;
                                    <li><a href="@item.Url">@projectsDT.Title</a></li>
                                }
                                else if( item is Services )
                                {
                                    ServicesDT servicesDT = ( item as Services ).Main.Current as ServicesDT;
                                    <li><a href="@item.Url">@servicesDT.MenuTitle</a></li>
                                }
                                else if( item is About )
                                {
                                    AboutDT aboutDT = ( item as About ).Main.Current as AboutDT;
                                    <li><a href="@item.Url">@aboutDT.MenuTitle</a></li>
                                }

                            }
                            @*
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Testimonials</a></li>
                                <li><a href="#">Contact Us</a></li>*@
                        </ul>
                    </div>
                    @*<div class="col-md-3">
                        <h2 class="footer-heading mb-4">Follow Us</h2>
                        <a href="@mainPage.Facebook" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                        <a href="@mainPage.Twitter" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                        <a href="@mainPage.Instagram" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                        <a href="@mainPage.LinkedIn" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                    </div>*@
                </div>
            </div>
            <div class="col-md-3">
                @*<h2 class="footer-heading mb-4">Subscribe Newsletter</h2>
                    <form action="#" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary text-white" type="button" id="button-addon2">Send</button>
                            </div>
                        </div>
                    </form>*@
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <div class="border-top pt-5">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">VITINQ</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>

        </div>
    </div>
</footer>
